<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Go-Course</title>


    <style>
  
      body {
          display: flex;
          flex-direction: column;
      }
  </style>

</head>
<body class="min-h-screen bg-gray-100">


    <header class="bg-gradient-to-r from-blue-800 to-indigo-800">
        <nav class="px-8 py-6 flex items-center text-white">
            <div class="text-2xl pr-8 font-serif">Go-Course</div>
            <div class="flex-grow">
                <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/">Home</a>
                <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/faq">Faq</a>
                <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/contact">Contact</a>
            </div>


            <div>

                <a href="/login">Login </a>
                <a href="/signup" class="px-4 py-2 bg-blue-700 hover:bg-blue-60 rounded"> Register </a>
            </div>
        </nav>
    </header>



    {{template "content" . }}


    <footer class="bg-gray-800 text-white p-4 mt-auto">
        <div class="container mx-auto flex justify-between">
          <div class="flex items-center">
         
            <span class="font-semibold">Go-Course</span>
          </div>
          <nav class="space-x-4">
            <a href="#" class="hover:text-gray-500">Home</a>
            <a href="#" class="hover:text-gray-500">About</a>
            <a href="#" class="hover:text-gray-500">Services</a>
            <a href="#" class="hover:text-gray-500">Contact</a>
          </nav>
        </div>
      </footer>
      





</body>
</html>