{{ define "content" }}





<ul>    

    {{ range $index, $element := . }}

        {{ template "li-section" $element }}

    {{ end }}

</ul>


{{ end }}


{{ define "li-section" }}

<li><b> {{ .Question }} : </b>  Answer: {{ .Answer }} </li>

{{ end }}
